*{
    font-family: 'Josefin Sans', sans-serif; 
}

.container{

width: 900px;
border: 3px solid purple;
margin: auto; /* to center */
margin-top: 50px;
background-color: antiquewhite;
text-align:center;
}

.item{
   border: 3px solid rgb(233, 193, 12);
   border-radius: 10px;
   margin: 12px 3px;
   padding: 12px 3px;
   background: rgb(170, 196, 233);

}

#fruit{
float: left; /*to float elements left/right/side by side*/
width: 50%;
}
#computer{
float: right;
width: 50%;
}
#stationary{
/* float: left; */
clear:left; /*elements in left should not overlap it*/
width: 50%;
clear: both;
}

p,h3{
    /* text-align: center;
    text-align: left;
    text-align: right; */
    text-align: justify; 
}
