h1{
    background-color:coral;
    color:black;
    font-weight: bold;
    text-align: center;
}

/* all p under any div  */
/* div p{
    background-color:black;
    color: red;
    font-weight: bold;
}   */

/* if p is contained by any li which is contained by div */
/* div li p {
    background-color:green;
    color: yellow;
    font-weight: bold;
} */

/* if p is right inside div then this CSS will be applied */
/* div > p{
    background-color:green;
    color: coral;
    font-weight: bold;
} */

 /* p whose last sibling is div i.e. p is right after div */
/* div + p{
    color: white;
    background-color:rosybrown;
} */