input{
    display: block;
}

.container{
    display: block;
    width: 233px;
    margin:auto;
}

input[type="text"]{
    padding: 23px;
    border: 2px solid red;
}

a[target]{
    font-size:54px;
    color:violet;
}

a[target="_self"]{
    font-size:54px;
    color:coral;
}

/* this will apply css for 3rd child */
li:nth-child(3)
{
    color:rgb(7, 232, 157);
}

/* this will apply css on every 2nd child, starting with n = 0 */
li:nth-child(2n+0)
{
    color:rgb(233, 203, 14);
}

li:nth-child(odd)
{
    background-color:green; 
}

li:nth-child(even)
{
    background-color:pink;
}